<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/message-board.css">
    <link rel="stylesheet" href="../css/create-group.css">
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <img src="../images/post-it-icon.png"></img>
        <i class="fa fa-envelope fa-2x"></i>
      </header>
      <div class="group-msg-div">
        <div class="list-groups">
          <ul class="list-group" role="tablist">
            <li class="list-group-item">
              <a href=# id="friends">Friends</a>
              <i class="glyphicon glyphicon-option-horizontal" id="toggle-grp-options"></i>
              <div class="hidden grp-options">
                <button type="button" class="btn btn-link">Add User</button>
                <button type="button" class="btn btn-link">Message Board</button>
                <button type="button" class="btn btn-link">Delete Group</button>
                <button type="button" class="btn btn-link">Post Message</button>
              </div>
            </li>
            <li class="list-group-item">Family</li>
            <li class="list-group-item">Colleagues</li>
            <li class="list-group-item add-group"><i class="glyphicon glyphicon-plus"></i><a href=#>Add Group</a></li>
          </ul>
        </div>
        <div class="grp">
          <div class="search-user">
            <form>
              <div class = "input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" id="user-email" placeholder="Search User">
              </div>
            </form>
          </div>

          <div class="grp-details">
            <form>
              <fieldset>
                <legend>Name</legend>
                <input type="text" class= "form-control" id="grp-name">
              </fieldset><br>
              <fieldset>
                <legend>Description</legend>
                <textarea class="form-control" rows="3" id="grp-description"></textarea>
              </fieldset><br>
              <fieldset>
                <legend>Member List</legend>
                <div class="member-list">
                  <div class="member">
                    <span class="user-initial label label-info">AP</span>
                    <div class="user-full-name well well-sm">Akande Oluwatomi Paul</div>
                    <span class="delete-user"><i class="glyphicon glyphicon-remove-sign"></i></span>
                  </div>
                  <div class="member">
                    <span class="user-initial label label-info">VE</span>
                    <div class="user-full-name well well-sm">Vanessa Ejikeme</div>
                    <span class="delete-user"><i class="glyphicon glyphicon-remove"></i></span>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/create-group.js"></script>
  </body>
</html>
