@import url('https://fonts.googleapis.com/css?family=Open+Sans|Tinos|Rambla|Rajdhani|Orbitron');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.container-board {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.header-dashboard {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8%;
  background-color: #f0f5f5;
  z-index: 100;
}
.header-flex {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.header-flex > img {
  margin: auto;
  width: 3cm;
  height: 1cm;
}
.header-flex > .profile-summary {
  align-self: center;
  margin-right: 2%;
  width: 10%;
}
.user-view {
  background-color: #004d4d!important;
  color: black;
}
.header-flex > .fa-bars {
  align-self: center;
  margin-left: 2%;
  font-size: 2em;
  color: #595959
}
#slide-out {
  background-color: #004d4d;
  color: white;
}
#slide-out .waves-effect {
  color: white;
  font-weight: 300;
  font-size: 1.1em;
}
.board-body {
  position: absolute;
  top: 10%;
  padding-left: 250px;
  width: 100%;
  height: 75%;
  padding-bottom: 1%;
  overflow: auto; 
}
.show-right-bar {
  padding-right: 250px;
}
footer {
  position: fixed;
  top: 85%;
  left: 0;
  padding-left: 250px;
  width: 100%;
  min-height: 15%;
  background-color: #f9f7f7;
  border: 1px solid #ccc;
}
.write-message, .message-input {
  margin: 0;
  padding: 0;
  height: 100%;
}
.message-input {
  width: 100%;
  padding: 1%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.write-message {
  border-radius: 5px;
  background-color: white;
  outline: none;
  margin-right: 2%;
  border-color: #75a3a3;
}
.author-name, .group-name {
  font-weight: 500;
  font-size: 1.1em;
  color: black;
}
.group-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: #4d3300;
  width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
}
.collapsible-body form {
  margin: auto;
  width: 80%;
}
a {
  text-decoration: none;
  outline: none;
  color: black;
}
.group-add {
  margin-bottom: -18%;
  margin-left: 70%;
}
.group-board-header {
  height: 5.2%;
  width: 84%;
  position: fixed;
  top: 8%;
  z-index: 10;
  background-color: white;
}
.dropdown-button {
  align-self: center;
}
.group-header-flex {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
*[contenteditable=true]:focus {
  outline-style: ridge;
  outline-color: #75a3a3;
  outline-width: thin;
}
#description {
  font-size: 0.6em;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  text-overflow: ellipsis;
}
.label {
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  margin: 1%;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  color: black;
  background-color: white;
  font-size: 0.7em;
  width: 50px;
  height: 33.3%;
  padding: 0.8%;
  padding-left: 6px;
  outline: none;
}
.label:hover {
  cursor: pointer;
  opacity: 0.7;
}
.message-board {
  position: relative;
  width: 100%;
  height: 98%;
  top: 10%;
  overflow: auto;
}
.message-box {
  display: flex;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 1%;
  margin-left: 1%;
  padding-bottom: 2%;
  margin-top: 1%;
  border-bottom-width: 0;
  width: 90%;
}
.menu {
  display: flex;
  height: 100%;
  width: 30%;
  align-self: center;
  justify-content: center;
}
.message-box:hover {
  background-color: #eff5f5;
}
.message-text {
  white-space: pre-wrap;
  width: 90%;
}
.message {
  width: 100%;
  padding-top: 1%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: normal;
}
div[data-priority=normal] {
  border-top-color: #59b300;
}
div[data-priority=urgent] {
  border-top-color: #e68a00;
}
div[data-priority=critical] {
  border-top-color: red;
}
i.fa-tags {
  font-size: 1.5em;
}
div[data-priority=normal] .priority-tag {
  color: #59b300;
}
div[data-priority=urgent] .priority-tag {
  color: #e68a00;
}
div[data-priority=critical] .priority-tag {
  color: red;
}
span[data-priority] {
  color: white;
}
span[data-priority=normal] {
  background-color: #59b300;
}
span[data-priority=urgent] {
  background-color: #e68a00;
}
span[data-priority=critical] {
  background-color: red;
}
.author-image, .author-image img, .userview-thumbnail{
  width: 40px;
  height: 40px;
  margin: 1% 2%;
  margin-left: 0.5%;
}
.userview-thumbnail {
  margin-top: 0;
  height: 100%;
}
.userview-username {
  align-self: center;
  width: 40%;
  padding-left: 7%;
}
.priority-tag {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5%;
  width: 90px;
  font-size: 0.7em;
  margin-bottom: 0.2%;
}
.fa-ellipsis-h {
  font-size: 1.7em;
  margin: auto;
}
.side-nav {
  width: 250px;
}
#dropdown1 i {
  margin-right: 10px;
}
.select-priority-2 {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  justify-content: space-between;
}
.send-button i:hover {
  cursor: pointer;
  color: #334d4d;
}
.send-button i {
  outline: none;
}
.send-button {
  outline: none;
}
.add-group {
  display: inline-block;
}
.right-bar {
  display: block;
  position: fixed;
  top: 13%;
  right:0;
  width: 300px;
  z-index: 2;
  height: 100%;
  background-color: white;
}
.right-bar .input-field {
  margin-top: 20%;
}
#search-user + .fa-search {
  margin-top: 5%;
  color: #334d4d;
  margin-left: 10%;
  font-size: 1.5em;
  cursor: pointer;
  outline: none;
}
.userview-box {
  display: flex;
  height: 5%;
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
  cursor: pointer;
  outline: none;
}
.userview-box:hover {
  background-color: #F5F5F5;
}
#search-user {
  display: inline-block;
  margin-left: 5%;
  text-align: center;
  height: 6%;
  width: 90%;
  border-color: teal;
  border-width: thin;
  border-radius: 5px;
  outline: #3c5d5d;
}
#modal1, #user1 {
  height: 50%;
  width: 40%;
}
.modal-content > h4 {
  font-family: 'Rambla', sans-serif;
}
.modal-content .input-field {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  font-family: 'Rambla', sans-serif;
  font-size: 2rem;
}
.modal-content form {
  display: block;
  margin: auto;
}
.fa-sign-out {
  align-self: flex-end;
  margin-right: 3%;
  margin-bottom: 0.8%;
  font-size: 1.4em;
  outline: none;
}
.fa-sign-out:hover {
  cursor: pointer;
}
#main-preloader, #modal-preloader {
  display: block;
  position: fixed;
  margin: auto;
  top: 17%;
  left: 30%;
  width: 60%
}
#modal-preloader {
  top: 19%;
  left: 6%;
}
.modal-content input[type=text] {
  font-size: 0.8em !important;
}
.current-profile-photo {
  display: block;
  float: left;
  width: 48%;
  height: 75%;
  margin: auto;
  margin-top: 5%;
}
.upload {
  margin-left: -8%;
}
.subheader {
  color: white !important;
  font-weight: 800 !important;
  margin-bottom: 5%;
}
.close, .back {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: thin;
  border-radius: 50%;
  text-align: center;
  margin: 5%;
  float: right;
  cursor: pointer;
}
.back {
  float: left;
  padding-top: 2%;
  border: none;
}
.close:hover, .back:hover {
  background-color: #F5F5F5;
}
.close i {
  font-size: 2em;
  padding-top: 10%;
  outline: none;
}
.user-profile {
  display: block;
  position: absolute;
  top: 10%;
  width: 100%;
}
.profile-photo {
  display: block;
  max-width: 90%;
  height: 38%;
  margin: auto;
}
.info {
  display: block;
  width: 90%;
  margin: auto;
  height: 20%;
  margin-top: 3%;
  padding: 5% 10%;
}
.info span {
  color: #75a3a3;
}
.fileName, .selected-file-intro {
  float: left;
  margin-left: 2%;
  padding-top: 2.5%;
}
.selected-file-intro {
  color: #004d4d;
  margin-left: 4%;
  font-weight: 900;
}
.message-text a {
  color: darkred;
}
.created-at {
  display: inline-block;
  padding-left: 1%;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  color: #666666;
}
.priority-tag > .fa-check-circle {
  font-size: 1.4em;
  color: black;
  padding-left: 10%;
}
span.badge {
  font-size: 0.9em;
  color: white;
  background-color: teal;
  border-radius: 10px;
  min-width: 2rem;
}
.extra {
  text-align: center;
  width: 25%;
}
.see-older {
  display: flex;
  width: 100%;
  font-size: 1.1em;
  color: #cccccc;
}
.see-older:hover {
  cursor: pointer;
  color: #333333;
}
.see-older hr {
  width: 30%;
}

@media only screen and (max-width : 992px) {
  header, .board-body, footer {
    padding-left: 0;
  }
  .right-bar {
    width: 250px;
  }
  #modal1 {
    width: 90%;
  }
  .fa-sign-out {
    margin-bottom: 1.5%;
  }
  .header-flex > .fa-bars {
    margin-top: 2.7%;
  }
}
@media only screen and (max-width : 992px) {
  .group-board-header {
    width: 100%;
  }
  .menu {
    justify-content: flex-end;
  }
  .message-box {
    width: 98%;
    margin-top: 3%;
  }
  .side-nav a {
    padding: 0;
  }
}